In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('geographic-sum-per-day-ver_00162.csv')

In [3]:
jlm_df = df.loc[df['town_code'] == 3000]
jlm_df = jlm_df.drop(columns=['town_code', 'town'])

In [4]:
sectors = pd.read_csv('stat_areas.csv')
sectors.columns = ['agas_code', 'heb_name', 'name']
sectors = sectors.drop(['heb_name'], axis=1)

In [5]:
jlm_df = jlm_df.dropna(subset = ['agas_code'])

Leaving out the obs with statistical no area

In [6]:
jlm_df = jlm_df.replace(to_replace = "<15",value = 15)
jlm_df.dtypes

agas_code                              float64
date                                    object
accumulated_cases                       object
new_cases_on_date                         bool
accumulated_recoveries                  object
new_recoveries_on_date                    bool
accumulated_hospitalized                object
new_hospitalized_on_date                  bool
accumulated_deaths                      object
new_deaths_on_date                        bool
accumulated_diagnostic_tests            object
new_diagnostic_tests_on_date              bool
accumulated_vaccination_first_dose      object
new_vacc_first_dose_on_date               bool
accumulated_vaccination_second_dose     object
new_vacc_second_dose_on_date              bool
dtype: object

In [7]:
jlm_df['accumulated_cases']= jlm_df['accumulated_cases'].astype('int')
jlm_df['accumulated_recoveries']= jlm_df['accumulated_recoveries'].astype('int')
jlm_df['accumulated_deaths']= jlm_df['accumulated_deaths'].astype('int')

jlm_df = jlm_df.assign(new_cases = jlm_df['accumulated_cases'] - jlm_df['accumulated_recoveries'] - jlm_df['accumulated_deaths'])

In [25]:
jlm_df['accumulated_hospitalized']= jlm_df['accumulated_hospitalized'].astype('float')
jlm_df['accumulated_vaccination_first_dose']= jlm_df['accumulated_vaccination_first_dose'].astype('float')
jlm_df['accumulated_diagnostic_tests']= jlm_df['accumulated_diagnostic_tests'].astype('int')
jlm_df['accumulated_vaccination_second_dose']= jlm_df['accumulated_vaccination_second_dose'].astype('float')
jlm_df= jlm_df.sort_values(["agas_code","date"])
jlm_df.head()

,agas_code,date,accumulated_cases,new_cases_on_date,accumulated_recoveries,new_recoveries_on_date,accumulated_hospitalized,new_hospitalized_on_date,accumulated_deaths,new_deaths_on_date,accumulated_diagnostic_tests,new_diagnostic_tests_on_date,accumulated_vaccination_first_dose,new_vacc_first_dose_on_date,accumulated_vaccination_second_dose,new_vacc_second_dose_on_date,new_cases
195721,111.0,2020-03-11,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False,0
195722,111.0,2020-03-12,0,False,0,False,0.0,False,0,False,0,False,0.0,False,0.0,False,0
195723,111.0,2020-03-13,0,False,0,False,0.0,False,0,False,15,True,0.0,False,0.0,False,0
195724,111.0,2020-03-14,0,False,0,False,0.0,False,0,False,15,False,0.0,False,0.0,False,0
195725,111.0,2020-03-15,0,False,0,False,0.0,False,0,False,15,False,0.0,False,0.0,False,0

In [58]:
jlm_df["new_deaths"] = jlm_df.groupby("agas_code")["accumulated_deaths"].diff()
#jlm_df["new_cases_change"] = jlm_df.groupby("agas_code")["new_cases"].pct_change()

In [59]:
jlm_df["new_recoveries"] = jlm_df.groupby("agas_code")["accumulated_deaths"].diff()

In [55]:
jlm_df["new_deaths"] =jlm_df["new_deaths"].fillna(0)
jlm_df["new_recoveries"] =jlm_df["new_recoveries"].fillna(0)
jlm_df["new_cases_change"] =jlm_df["new_cases_change"].fillna(0)

In [60]:
cases_date = jlm_df.pivot(index = 'agas_code',columns = 'date', values = 'new_cases')
cases_date

date,2020-03-11,2020-03-12,2020-03-13,2020-03-14,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,...,2021-04-02,2021-04-03,2021-04-04,2021-04-05,2021-04-06,2021-04-07,2021-04-08,2021-04-09,2021-04-10,2021-04-11
agas_code,,,,,,,,,,,,,,,,,,,,,
111.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112.0,0,0,0,0,0,0,0,0,0,0,...,-14,-14,-14,-14,-14,-14,-14,-14,-14,-14
113.0,0,0,0,0,0,0,0,0,0,0,...,-10,-10,-10,-10,-10,-10,-10,-10,-10,-10
114.0,0,0,0,0,0,0,0,0,0,0,...,-11,-11,-11,-11,-9,-9,-9,-9,-9,-9
115.0,0,0,0,0,0,0,0,0,0,0,...,-8,-8,-8,-8,-12,-12,-12,-12,-12,-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613.0,0,0,0,0,0,0,0,0,0,0,...,44,38,35,34,32,29,21,19,16,15
2711.0,0,0,0,0,0,0,0,0,0,0,...,31,28,23,25,22,19,18,16,14,15
2811.0,0,0,0,0,0,0,0,0,0,0,...,10,7,7,7,8,8,11,10,10,9
2812.0,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
2911.0,0,0,0,0,0,0,0,0,0,0,...,15,15,14,10,9,9,9,9,8,6

In [63]:
deaths_date = jlm_df.pivot(index = 'agas_code',columns = 'date', values = 'new_deaths')
recoveries_date = jlm_df.pivot(index = 'agas_code',columns = 'date', values = 'new_recoveries')